{% extends "base.html" %}
<!--  -->
{% block title %}Shorten URL{% endblock %}
<!--  -->
{% block content %}
<form action="#" method="post">
  <div class="form">
    <label>Enter the URL</label>
    <br /><br />
    <input
      class="inp"
      type="url"
      name="url_inp"
      id="url"
      placeholder="Enter the URL"
      pattern="https://.*"
      size="80"
      required
    />
    <br /><br />
    <input class="button" type="submit" value="Shorten" />
  </div>
</form>
{% endblock %}
